



	
	}
	html {
		box-sizing: border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {

		background-color: white;
	}
	.top-navigation .links> .active {
		color: #4c5058;
		font-weight: 500;

	}

	.top-navigation .links li {
		display: ;
	}
	.top-navigation .links {
		float: right;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #838994;
		margin-top: .7rem;
		-webkit-font-smoothing: antialiased;
	}
	.top-navigation .links li:hover {
		cursor: pointer;
		color: orange;
	}
	.links> .active {
		display: inline-block;
		color: #262626;
		letter-spacing: .03em;
		padding: 1em;
		vertical-align: baseline;
		box-sizing: border-box;
		
		
	}
	.top-navigation .content {
			width: 100%;
			height: 70px;
			padding: 15px left;
			background-color: white;
			margin-top: 0px;
	
	}
	.introduction {
		overflow: hidden;
		background: url("images/first-background.jpg");
		background-position: center-bottom;
		background-repeat: no-repeat;
		background-size: cover;
		height: 35rem;
		width: auto;
		display: block
	


	}
	.introduction > content {
		background-color: white;

		top: 5rem;
		right: 5rem;

	}
	.introduction .content{
		
		width: 100%;
		align-items: center; 

	}
	button {
		text-shadow: transparent;
		border-style: none;
		border-radius: .50rem;
		padding: 1rem 1.5rem;
		width: 9rem;
		background-color: orange;
	}
	
	div {
		border: 1px solid black;
		border-right: 20px;
		padding-top: 5px;
	}	
	.top-navigation {
		position: fixed;
		width: 100%;
		z-index: 9999;


	}
	h2 {
		text-align: center;

	}
	.content .cases .social {
		text-align: center;
	}
	

	.cases .devices {
		box-sizing: border-box; 
		width: 32%;
	    display: inline-block;
	    /* styles to assist with debugging */
	    border: 1px white;
	    height: auto;
	    text-align: center;
	}
	.devives {
		text-align:;
		left: 10px;
		
	}

	footer {
		float:center;
		align: baseline;
		text-align: center;
	}


	.icons {
		display: inline-block;
		box-sizing: border-box;
		list-style: none;
	}
	.icons > li {
		margin: .5rem;
	}
	.icons > li > i {
		padding-top: 8px;
		text-align: center;
	}
	.twitter {
		color: #ff9933;
		width: 50px;
	    height: 50px;
	    border: 1px;
	    border-radius: 190rem;
	    border-style: groove;
	    background-color: #d1e0e0;
	    
	    
	}
	.facebook {
		color: #3b5998;
		width: 50px;
	    height: 50px;
	    border: 1px;
	    border-radius: 190rem;
	    border-style: groove;
	    background-color: #d1e0e0;
	}
	.instagram {
		color: #3b5998;
		width: 50px;
	    height: 50px;
	    border: 1px;
	    border-radius: 190rem;
	    border-style: groove;
	    background-color: #d1e0e0;
	}
	.icons > li {
		float:left;
		position: relative;

		
	}
	