
	p {

		font-size: 40px;
		color: orange;
		background-color: black;
	}

	body {

		background-color: gray;

	}
	{
		.top-navigation-color: #fff;
	}
	
		.top-navigation > .content {
			width: 970px;
			height: 170px;
			margin: auto;
		}
	}
	div {
		border: 1px solid Chocolate;
	}